@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$accent:#26495c;
$primary:#c66b3d;
$secondary:#c4a35a;
$base:#e5e5dc;


body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

